.workspaceWrapper {
  position: relative;
  height: 100vh;
  width: 100vw;

  .drawArea {
    position: relative;
    height: 100%;
    width: 100%;

    .currentSelection {
      position: absolute;
      border: 1px dashed #999;
      box-sizing: border-box;
    }

    .ghostSelection {
      position: absolute;
      background: rgba(102, 153, 255, 0.5);
    }
  }
}